name: Package App

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  FORCE_COLOR: 2

jobs:
  package:
    name: Package (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm

      - run: npm ci

      - name: Build App
        run: |
          npm run dist:${{ matrix.os == 'macos-latest' && 'mac' || 'win' }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fanstanicon-${{ runner.os }}
          path: |
            release/*.dmg
            release/*mac.zip
            release/*.exe
            release/*.zip

  release:
    name: GitHub Release
    if: startsWith(github.ref, 'refs/tags/v')
    needs: package
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/**/release/*.dmg
            dist/**/release/*mac.zip
            dist/**/release/*.exe
            dist/**/release/*.zip
